<div class="container">
    <form (ngSubmit)="submitTopLevelData()" #formRef="ngForm">
        <div class="row">
            <div class="col-xs-6">
                <div ngModelGroup="petAndOwnerName" #petAndOwnerName="ngModelGroup">
                    <div backgroundC class="row" style="padding: 10px;">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <p style="font-weight: bold;">Pet Name:</p>
                            </div>
                            <div class="col-xs-9">
                                <input appDetectMouse class="form-control" ngModel name="pet_name" required #petname="ngModel">
                                <span class="help-block" *ngIf="!petname.valid && petname.touched">Please enter a pet
                                    name!</span>
                            </div>
                        </div>
                    </div>
                    <div *appStructDir="showStruct"><p>This is a paragraph</p></div>
                   
                    <div backgroundC class="row" style="padding: 10px;">
                        <div class="form-group">
                            <div class="col-xs-3">
                                <p style="font-weight: bold;">Owner Name:</p>
                            </div>
                            <div class="col-xs-9">
                                <input class="form-control" ngModel name="owner_name" required #owner_name="ngModel" appDetectMouse>
                                <span class="help-block" *ngIf="!owner_name.valid && owner_name.touched">Please enter an
                                    owner name!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <p style="font-weight: bold;">Pet Type:</p>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" style="width: 20vw;" [ngModel]="defaultPetType" name="pet_type"
                                required #pet_type="ngModel">
                                <option value="dog">dog</option>
                                <option value="cat">cat</option>
                                <option value="rodent">rodent</option>
                                <option value="bunny">bunny</option>
                                <option value="bird">bird</option>
                            </select>
                            <span class="help-block" *ngIf="!pet_type.valid && pet_type.touched">Please enter a pet
                                type!</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <p style="font-weight: bold;">Gender:</p>
                        </div>
                        <div class="col-xs-10 col-sm-6 col-md-6">
                            <div *ngFor="let gender of genders">
                                <label>
                                    <input type="radio" ngModel name="gender" [value]="gender">
                                    {{ gender }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <p style="font-weight: bold;">Email:</p>
                        </div>
                        <div class="col-xs-9">
                            <input type="email" class="form-control" ngModel name="email" required email #email="ngModel">
                            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid
                                email!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row" style="padding: 10px;">
                    <div class="col-xs-10">
                        <p style="font-weight: bold;">Image URL:</p>

                        <input class="form-control" [(ngModel)]="img_url_text" name="img_url" img_url
                            #img_url="ngModel">
                        <span class="help-block" *ngIf="!img_url.valid && img_url.touched">Please enter a valid
                            image URL!</span>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <div class="col-xs-10">
                        <img [src]="img_url_text" class="img-responsive" style="max-height: 40vh;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px;">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-3">
                            <p style="font-weight: bold;">Instructions:</p>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6">
                            <textarea style="height: 20vh; width: 30vw;" class="form-control"
                                [(ngModel)]="instructionText" name="instructions" required
                                #instructions="ngModel"></textarea>
                            <span class="help-block" *ngIf="!instructions.valid && instructions.touched">Please enter
                                instructions!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px;">
            <div class="form-group">
                <div class="col-xs-6">
                    <p>Your Instructions: {{ instructionText }}</p>
                </div>
            </div>
        </div>
        <app-add-pet-food (setPetFood)="updateFood($event)" [food]="pet[0].food"></app-add-pet-food>
        <div class="row" style="padding: 10px;">
            <div class="form-group">
                <div class="col-xs-3">
                    <button class="btn btn-primary" type="button" (click)="addFood()" [disabled]="!formRef.valid">Add
                        Food</button>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px;">
            <div class="form-group">
                <div class="col-xs-3">
                    <button class="btn btn-primary" type="submit" [disabled]="!formRef.valid">Add Pet</button>
                </div>
            </div>
        </div>

    </form>
</div>