<div class="container">
    <div>
        <form>
            <div class="row" style="padding: 10px;">
                <div class="form-group">
                    <div class="col-xs-3">
                        <p style="font-weight: bold;">Pet Name:</p>
                    </div>
                    <div class="col-xs-3">
                        <input class="inputBox">
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px;">
                <div class="form-group">
                    <div class="col-xs-3">
                        <p style="font-weight: bold;">Owner Name:</p>
                    </div>
                    <div class="col-xs-3">
                        <input class="inputBox">
                    </div>
                </div>
            </div>   
            <div class="row" style="padding: 10px;">
                <div class="form-group">
                    <div class="col-xs-3">
                        <p style="font-weight: bold;">Pet Type:</p>
                    </div>
                    <div class="col-xs-3">
                        <input class="inputBox">
                    </div>
                </div>
            </div>     
            <div class="row" style="padding: 10px;">
                <div class="form-group">
                    <div class="col-xs-3">
                        <p style="font-weight: bold;">Email:</p>
                    </div>
                    <div class="col-xs-3">
                        <input class="inputBox">
                    </div>
                </div>
            </div>   
            <div class="row" style="padding: 10px;">
                <div class="form-group">
                    <div class="col-xs-3">
                        <p style="font-weight: bold;">Instructions:</p>
                    </div>
                    <div class="col-xs-3">
                        <textarea style="height: 20vh; width: 20vw;"></textarea>
                    </div>
                </div>
                <div class="col-xs-3" style="text-align: center;">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </div>                                          
        </form>
    </div>
</div>