<div class="SectionA">
	<div class="SectionB">
		<div class="outer">
			<names (onNameAdded)="addToNamesArray($event)"></names>
		</div>
		<div class="arrayNamesAdded">
			<app-servers *ngFor="let arrayName of arrayOfNames" [personPassOne]="arrayName">
				<div class="panel-heading">{{ arrayName.in }}</div>
				<div class="panel-body">
					<p><strong>{{ arrayName.name }}</strong></p>
					<p><strong>{{ arrayName.gender }}</strong></p>        
				</div>			
			</app-servers>
		</div>
	</div>
</div>