<div class="SectionA">
	<div class="SectionB">
		<div class="outer">
			<div class="divOne">
				<label class="label label-default">Input Text Here</label>
			</div>
			<div class="divTwo">
				<div class="insideDiv">
					<input (input)="onChangeName($event)" class="form-control">
					<input (input)="onChangeGender($event)" class="form-control">
				</div>		
			</div>
		</div>
		<div class="divTwo">
			<div class="insideDiv">
				<app-servers [person]="arraySend"></app-servers>
			</div>			
		</div>		
	</div>
</div>