<app-header (petOrSummary)="selectedPetOrSummary($event)"></app-header>
<div>
  <div *ngIf="PetOrSummary == 'pet' ? true : false">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <app-add-pet></app-add-pet>
        </div>
      </div>
    </div>
    </div>
  <div *ngIf="PetOrSummary == 'summary' ? true : false">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-pet-list></app-pet-list>
      </div>
    </div>
  </div>
  </div>
</div>