<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
        <p style="font-weight: bold;">Search:</p>
    </div>
    <div class="col-xs-6">
        <input class="form-control" [(ngModel)]="searchstring" required #search_string="ngModel">
        <span class="help-block" *ngIf="!search_string.valid && search_string.touched">Please enter a string</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">
        <button class="btn btn-primary" (click)="searchString(searchstring)">Search</button>
    </div>
</div>
<hr>
<div *ngIf="showOptions" class="row">
    <div *ngFor="let pet of pets;">
        <div (click)="selectPet(pet.id)" class="borderit">
            <div appResponsiveClick>
                <table>
                    <tr>
                        <th>{{ pet.name }}</th>
                        <th>{{ pet.owner_name }}</th>
                        <th>{{ pet.owner_email }}</th>
                        <th>{{ pet.gender }}</th>
                    </tr>
                    <tr *ngFor="let food of pet.food;">
                        <td>{{ food.food_name }}</td>
                        <td>{{ food.amount }}</td>
                        <td>{{ food.frequency }}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
<router-outlet></router-outlet>